.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}
.btn[disabled] {
  opacity: 0.5;
}
.btn[disabled]:hover {
  opacity: 0.5;
  cursor: initial;
}
.btn--primary {
  background-color: var(--SAP-gold);
  color: #fff;
  border: 1px solid var(--SAP-gold);
  transition: 0.3s;
}

.btn--outline {
  background-color: transparent;
  color: var(--SAP-gold);
  padding: 8px 20px;
  border: 1px solid var(--SAP-gold);
  transition: all 0.3s ease-out;
  border-radius: 50px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  opacity: 0.7;
}

#start-game {
  font-size: 40px;
  background-color: var(--SAP-orange);
}
