:root {
  --main-purple: #7d2ae8;
  --my-red: #e82a36;
  --my-green: #95e82a;
  --my-blue: #2ae8dc;
  --my-white: #fff;
  --my-dark-background: #000000d0;
  --html-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--html-color);
  font-family: "lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--html-color);
  background-color: var(--my-white);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-family: "Spectral", serif, Arial;
}

h1 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
  word-spacing: 7px;
  font-size: 280%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-result-container{
  padding-top: 3rem;
  text-align: center;
  font-size: 3rem;
}