:root {
  --main-purple: #7d2ae8;
  --my-red: #e82a36;
  --my-green: #95e82a;
  --my-blue: #2ae8dc;
  --my-white: #fff;
  --my-dark-background: #000000d0;
  --html-color: #555;
  --background-color: #414242;
  --font-color: #f2f2f2;
  --blue-icon: #58c1d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  color: var(--font-color);
}

.whiteTeamIcon {
  color: var(--font-color);
}

.blueTeamIcon {
  color: var(--blue-icon);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-family: 'Spectral', serif, Arial;
}

h1 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
  word-spacing: 7px;
  font-size: 280%;
  text-align: center;
}
