@import './constants/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: $SAP-white;
  color: $SAP-black;
}

.whiteTeamIcon {
  color: $SAP-light-gray;
}

.blueTeamIcon {
  color: $SAP-blue;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-family: 'Spectral', serif, Arial;
}

h1 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
  word-spacing: 7px;
  font-size: 280%;
  text-align: center;
}
