:root {
  --SAP-gold: #f0ab00;
  --SAP-black: #000000;
  --SAP-white: #ffffff;
  --SAP-dark-gray: #666666;
  --SAP-medium-gray: #999999;
  --SAP-light-gray: #cccccc;
  --SAP-blue: #008fd3;
  --SAP-purple: #970a82;
  --SAP-green: #4fb81c;
  --SAP-orange: #e35500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: var(--SAP-white);
  color: var(--SAP-black);
}

.whiteTeamIcon {
  color: var(--SAP-light-gray);
}

.blueTeamIcon {
  color: var(--SAP-blue);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-family: 'Spectral', serif, Arial;
}

h1 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
  word-spacing: 7px;
  font-size: 280%;
  text-align: center;
}
