table {
  width: 100%;
  font-size: 130%;
  padding-top: 100px;
}
th {
  padding-bottom: 5px;
}
td {
  table-layout: fixed;
  width: 33.3%;
  text-align: center;
  padding: 5px 0 5px;
}
.blueTeamIcon,
.whiteTeamIcon {
  padding-right: 10px;
  font-size: 120%;
}
h2 {
  text-align: center;
  padding-top: 20px;
}
.new-game-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 10;
  border: none;
  transition: 700ms;
}
.new-game-btn:hover {
  background-color: var(--my-green);
  color: var(--my-dark-background);
  scale: calc(1.3);
}
