.game-result-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-result-item {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-result-item :nth-child(n + 1) {
  width: 50px;
}
.icon-result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.score {
  padding-left: 5px;
}
