$SAP-gold: #f0ab00;
$SAP-black: #000000;
$SAP-white: #ffffff;
$SAP-dark-gray: #666666;
$SAP-medium-gray: #999999;
$SAP-light-gray: #cccccc;
$SAP-blue: #008fd3;
$SAP-purple: #970a82;
$SAP-green: #4fb81c;
$SAP-orange: #e35500;
